<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <ul>
        <li>
            {% if author.last_name %}
            <img src='{{author.foto.url}}' style='width:200px;height:200px' alt='foto author'> </a><br>
                    Nombre:{{author.first_name}} {{author.last_name}}     

                {% else %}
                    
                    Nombre:{{author.first_name}} 

            {% endif %} 
        </li>
        <li>Biografia:<br>{{author.Biografia}}</li>
    </ul>

    <ol>

        {% if book_list %}
            <p>
                Libros:{{ book_list |length}}
            </p>

            {% for book in book_list %}
                
                <li>  
                    <a href=" {% url 'book-detail' book.pk %} ">  {{ book }} </a>
                </li>
            {% endfor %}

        {% else %}
            <p>
                El author no tiene libros registro
            </p>
        {% endif %}
    </ol>

</body>
</html>


