
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="ventana_modal" class="modal fade" role="dialog"></div>

<div class="modal-dialog modal-lg">
            


    <div class="modal-content">

        <form role="form" action="{% url 'tema_create' %}" method="post"   class="form-inline">

            
    <div class="panel panel-default">

        <a class="btn btn-warning" onclick="return abrir_modal('{% url 'subgenero_create' %}')" href="#"><span class="fa fa-plus-circle"></span> + subgenero</a>

        <div class="panel-heading">


            Editar/Crear Categoría


        </div>

        <!-- /.panel-heading -->


        <div class="panel-body">
            {% csrf_token %} 
            {{ form.as_table }}
            <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>


            <a href="{% url 'book_create' %}" class="btn btn-success"><span class="fa fa-undo"></span> Cancelar</a>


        </div>


    </div>

  

</form>


</div>


</div> 

</body>

      
