
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<div class="modal-dialog modal-lg">
            


    <div class="modal-content">
   
        <form role="form" action="{% url 'genero_create' %}" method="post"   class="form-inline">

            
    <div class="panel panel-default">


        <div class="panel-heading">


            Editar/Crear Categoría


        </div>

        <!-- /.panel-heading -->


        <div class="panel-body">
            {% csrf_token %} 
            {{ form.as_table }}
            <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>


            <a onclick="return abrir_modal('{% url 'subgenero_create' %}')" href="{% url 'subgenero_create' %}" class="btn btn-success"><span class="fa fa-undo"></span> Cancelar</a>

            
        </div>


    </div>

  

</form>

</body>
</html>